doctype html
html
  head
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet' href='http://cdn.bootcss.com/bootstrap/3.3.2/css/bootstrap.min.css')
    script(src='http://cdn.bootcss.com/jquery/1.11.2/jquery.min.js')
    script(src='http://cdn.bootcss.com/bootstrap/3.3.2/js/bootstrap.min.js')
    block headcontent
  body
    nav(class='navbar navbar-inverse navbar-fixed-top')
      div(class='container')
        div(class='navbar-header')
          a(class='navbar-brand' href='#')|Data Sync
        div(class='navbar-collapse collapse' id='navbar')
          ul(class='nav navbar-nav')
            li(class='active')
              a(href='/') Index
            li
              a(href='/login') Login
            li
              a(href='/newsyncgroup') Create
    block content