extends layout

block content
  div(class='container')
    form(class='form-signin')
      h2(class='form-signin-heading') Please sign in
      input(class='form-control' id='inputEmail' autofocus='' required='' type='email' placeholder='Email address')
      input(class='form-control' id='inputPassword' required='' type='password' placeholder='Password')
      button(class='btn btn-lg btn-primary btn-block' type='submit') Sign in